discovery.docker "docker" {
	host             = "unix:///var/run/docker.sock"
	refresh_interval = "30s"
}

discovery.relabel "docker" {
	targets = []

	rule {
		source_labels = ["__meta_docker_container_name"]
		regex         = "/(.*)"
		target_label  = "container"
	}
}

loki.source.docker "getting_started" {
	host             = "unix:///var/run/docker.sock"
	targets          = discovery.docker.docker.targets
	forward_to       = [loki.write.grafana_loki.receiver]
	relabel_rules    = discovery.relabel.docker.rules
	refresh_interval = "30s"
}

loki.source.file "log_scrape" {
  targets = [
    {
      "__path__" = "/var/log/**/*.log",
      "hostname" = constants.hostname,
    },
    {
      "__path__" = "/var/apps/**/*.log",
      "hostname" = constants.hostname,
    },
    {
      "__path__" = "/usr/trim/syslog",
      "hostname" = constants.hostname,
    },
    {
      "__path__" = "/usr/trim/**/*.log",
      "hostname" = constants.hostname,
    },
  ]

  forward_to    = [loki.write.grafana_loki.receiver]
  tail_from_end = true

  file_match {
    enabled     = true
    sync_period = "60s"
  }

  file_watch {
    min_poll_frequency = "1s"
    max_poll_frequency = "30s"
  }
}

loki.write "grafana_loki" {
  endpoint {
    url = "http://127.0.0.1:3100/loki/api/v1/push"
  }
}